back/flows_ruvds-5kkoe.json
[{"id":"c03a794b.f3de08","type":"tab","label":"User Sessions","disabled":false,"info":""},{"id":"c3254bdd.b1f848","type":"mongodb3","z":"","uri":"mongodb://127.0.0.1:27017/userdata","name":"","options":"","parallelism":"-1"},{"id":"4110fbef.2801f4","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/userdata","name":"","options":"","parallelism":"-1"},{"id":"429f1f10.a69ba","type":"http in","z":"c03a794b.f3de08","name":"","url":"/api/hey","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["b9b5a8c.99cb358"]]},{"id":"cd6d1ed.89339e","type":"http response","z":"c03a794b.f3de08","name":"","statusCode":"","headers":{},"x":730,"y":40,"wires":[]},{"id":"b9b5a8c.99cb358","type":"function","z":"c03a794b.f3de08","name":"greeting","func":"msg.payload = \"hey there!\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":40,"wires":[["cd6d1ed.89339e"]]},{"id":"625a4059.6e944","type":"function","z":"c03a794b.f3de08","name":"parse_request","func":"msg.operation = \"count\"\nmsg.payload = [{}];\nreturn msg;","outputs":2,"noerr":0,"x":180,"y":280,"wires":[["374c2a63.0f8f86"],["fb824d5e.918c1"]]},{"id":"35a6da6c.9f0426","type":"http in","z":"c03a794b.f3de08","name":"","url":"/api/session","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["625a4059.6e944"]]},{"id":"c1ab8378.def97","type":"function","z":"c03a794b.f3de08","name":"parse_response","func":"var response = msg.payload;\nmsg.payload = { result: response };\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["cd6d1ed.89339e"]]},{"id":"5a74ec23.763824","type":"mongodb2 in","z":"c03a794b.f3de08","service":"_ext_","configNode":"4110fbef.2801f4","name":"Sessions","collection":"sessions","operation":"","x":420,"y":260,"wires":[["c1ab8378.def97"]]},{"id":"fb824d5e.918c1","type":"function","z":"c03a794b.f3de08","name":"create_session","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["5a74ec23.763824"]]},{"id":"374c2a63.0f8f86","type":"function","z":"c03a794b.f3de08","name":"check_session_status","func":"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["5a74ec23.763824"]]},{"id":"3a85f07f.beb53","type":"http in","z":"c03a794b.f3de08","name":"","url":"/api/login","method":"get","upload":false,"swaggerDoc":"","x":100,"y":440,"wires":[["9660771b.8ad948"]]},{"id":"e9d5348d.130c78","type":"http in","z":"c03a794b.f3de08","name":"","url":"/api/register","method":"get","upload":false,"swaggerDoc":"","x":110,"y":540,"wires":[["4e21186b.667198"]]},{"id":"b956a011.7c5c2","type":"mongodb2 in","z":"c03a794b.f3de08","service":"_ext_","configNode":"4110fbef.2801f4","name":"Profiles","collection":"profiles","operation":"","x":500,"y":500,"wires":[["4de8c559.d5fd0c"]]},{"id":"da37fecf.f096e","type":"function","z":"c03a794b.f3de08","name":"new_user","func":"if (msg.payload.status !== undefined){\n    if (msg.payload.status === \"exist\"){\n        msg.payload = {error: \"user already exists\"};\n        return [null, null, msg];\n    }\n} else {\n    return [msg, null, null];    \n}\n","outputs":3,"noerr":0,"x":300,"y":500,"wires":[["9660771b.8ad948"],["b956a011.7c5c2"],["3546b7e6.70fd18"]]},{"id":"9660771b.8ad948","type":"function","z":"c03a794b.f3de08","name":"check_user_exist","func":"if (msg.uuid === undefined){\n    msg.uuid = \"\";\n}\nmsg.operation = \"findOne\";\nuname = msg.req.query.username;\nif (uname !== undefined){\n    msg.payload = [{username:uname}];    \n} else {\n    msg.payload = {error: \"username is empty\"};\n    return [null, msg];\n}\n\nnode.warn(\"check user: \"+\n            uname+ \" , uuid: \"+\n            JSON.stringify(msg.uuid));\nreturn [msg, null];","outputs":2,"noerr":0,"x":330,"y":440,"wires":[["b956a011.7c5c2"],["3546b7e6.70fd18"]]},{"id":"4de8c559.d5fd0c","type":"function","z":"c03a794b.f3de08","name":"user_status","func":"node.warn(\"here we have: \"+\nJSON.stringify(msg.uuid) + \n\"\\n response: \"+JSON.stringify(msg.payload));\nif (msg.uuid !== \"\"){\n    if (msg.payload === null){\n        msg.payload = {status:\"not_exist\"};\n    } else {\n        uinfo = msg.payload;\n        msg.payload = {status: \"exist\", \n                       profile: uinfo};\n    }\n}\nreturn msg;","outputs":2,"noerr":0,"x":610,"y":560,"wires":[["3546b7e6.70fd18"],["da37fecf.f096e"]]},{"id":"4e21186b.667198","type":"uuid","z":"c03a794b.f3de08","uuidVersion":"v1","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"uuid","fieldType":"msg","x":210,"y":620,"wires":[["da37fecf.f096e"]]},{"id":"3546b7e6.70fd18","type":"function","z":"c03a794b.f3de08","name":"not null","func":"if (msg != null){\n  return msg;   \n}","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["6e76bef5.950b4"]]},{"id":"6e76bef5.950b4","type":"http response","z":"c03a794b.f3de08","name":"","statusCode":"","headers":{},"x":740,"y":420,"wires":[]}]