back/flows_ruvds-5kkoe.json
[{"id":"c03a794b.f3de08","type":"tab","label":"User Sessions","disabled":false,"info":""},{"id":"1429f191.83a44e","type":"tab","label":"Study Process","disabled":false,"info":""},{"id":"c3254bdd.b1f848","type":"mongodb3","z":"","uri":"mongodb://127.0.0.1:27017/userdata","name":"","options":"","parallelism":"-1"},{"id":"4110fbef.2801f4","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/userdata","name":"Userdata","options":"","parallelism":"-1"},{"id":"4e48e3d3.c89b9c","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/education","name":"Education","options":"","parallelism":"-1"},{"id":"429f1f10.a69ba","type":"http in","z":"c03a794b.f3de08","name":"","url":"/api/hey","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["b9b5a8c.99cb358"]]},{"id":"cd6d1ed.89339e","type":"http response","z":"c03a794b.f3de08","name":"","statusCode":"","headers":{},"x":730,"y":40,"wires":[]},{"id":"b9b5a8c.99cb358","type":"function","z":"c03a794b.f3de08","name":"greeting","func":"msg.payload = \"hey there!\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":40,"wires":[["cd6d1ed.89339e"]]},{"id":"625a4059.6e944","type":"function","z":"c03a794b.f3de08","name":"parse_request","func":"msg.operation = \"count\"\nmsg.payload = [{}];\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":280,"wires":[["374c2a63.0f8f86"]]},{"id":"35a6da6c.9f0426","type":"http in","z":"c03a794b.f3de08","name":"","url":"/api/session","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["625a4059.6e944"]]},{"id":"c1ab8378.def97","type":"function","z":"c03a794b.f3de08","name":"parse_response","func":"var response = JSON.parse(msg.payload);\nnode.warn(JSON.stringify(response));\nif (response['ok'] === 1){\nmsg.payload = { \n                token: msg.uuid,\n                result: response };\n} else {\n    msg.payload = {\n                error: \"login failed\",\n                token: \"\",\n                result: response };\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["cd6d1ed.89339e"]]},{"id":"5a74ec23.763824","type":"mongodb2 in","z":"c03a794b.f3de08","service":"_ext_","configNode":"4110fbef.2801f4","name":"Sessions","collection":"sessions","operation":"","x":420,"y":260,"wires":[["c1ab8378.def97"]]},{"id":"fb824d5e.918c1","type":"function","z":"c03a794b.f3de08","name":"create_session","func":"node.warn(\"new_session_for: \"+JSON.stringify(msg.payload));\n\nmsg.operation = \"insertOne\";\nnew_session = {\n    uid: msg.uuid,\n    username: msg.payload.profile.username,\n    usertype: msg.payload.profile.usertype\n}\nmsg.payload = [new_session];\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":340,"wires":[["5a74ec23.763824"]]},{"id":"374c2a63.0f8f86","type":"function","z":"c03a794b.f3de08","name":"check_session_status","func":"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["5a74ec23.763824"]]},{"id":"3a85f07f.beb53","type":"http in","z":"c03a794b.f3de08","name":"","url":"/api/login","method":"get","upload":false,"swaggerDoc":"","x":100,"y":440,"wires":[["9660771b.8ad948"]]},{"id":"e9d5348d.130c78","type":"http in","z":"c03a794b.f3de08","name":"","url":"/api/register","method":"get","upload":false,"swaggerDoc":"","x":100,"y":580,"wires":[["4e21186b.667198"]]},{"id":"b956a011.7c5c2","type":"mongodb2 in","z":"c03a794b.f3de08","service":"_ext_","configNode":"4110fbef.2801f4","name":"Profiles","collection":"profiles","operation":"","x":500,"y":500,"wires":[["4de8c559.d5fd0c"]]},{"id":"da37fecf.f096e","type":"function","z":"c03a794b.f3de08","name":"new_user","func":"if (msg.payload.status !== undefined){\n    if (msg.payload.status === \"exist\"){\n        msg.payload = {error: \"user already exists\"};\n        return [null, null, msg];\n    }\n} else {\n    return [msg, null, null];    \n}\n","outputs":3,"noerr":0,"x":280,"y":540,"wires":[["9660771b.8ad948"],["b956a011.7c5c2"],["3546b7e6.70fd18"]]},{"id":"9660771b.8ad948","type":"function","z":"c03a794b.f3de08","name":"check_user_exist","func":"if (msg.uuid === \"login\"){\n    if (msg.payload.status === \"exist\"){\n        return[null,null,msg];\n    }\n} else {\n    if (msg.uuid === undefined){\n        msg.uuid = \"login\";\n    }\n    msg.operation = \"findOne\";\n    uname = msg.req.query.username;\n    if (uname !== undefined){\n        msg.payload = [{username:uname}];    \n    } else {\n        msg.payload = {error: \"username is empty\"};\n        return [null, msg, null];\n    }\n    \n    node.warn(\"check user: \"+\n                uname+ \" , uuid: \"+\n                JSON.stringify(msg.uuid));\n    return [msg, null, null];\n}","outputs":3,"noerr":0,"x":330,"y":440,"wires":[["b956a011.7c5c2"],["3546b7e6.70fd18"],["4de0006c.57813"]]},{"id":"4de8c559.d5fd0c","type":"function","z":"c03a794b.f3de08","name":"user_status","func":"node.warn(\"here we have: \"+\nJSON.stringify(msg.uuid) + \n\"\\n response: \"+JSON.stringify(msg.payload));\nif (msg.uuid !== \"login\"){\n    if (msg.payload === null){\n        msg.payload = {status:\"not_exist\"};\n    } else {\n        uinfo = msg.payload;\n        msg.payload = {status: \"exist\", \n                       profile: uinfo};\n    }\n    return [null,msg];\n} else {\n    if (msg.payload !== null){\n        uinfo = msg.payload;\n        msg.payload = {status: \"exist\", \n                       profile: uinfo};\n    }\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"x":630,"y":600,"wires":[["8f66fd58.eee08"],["406a5595.9e7c0c"]]},{"id":"4e21186b.667198","type":"uuid","z":"c03a794b.f3de08","uuidVersion":"v1","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"uuid","fieldType":"msg","x":230,"y":660,"wires":[["da37fecf.f096e"]]},{"id":"3546b7e6.70fd18","type":"function","z":"c03a794b.f3de08","name":"not null","func":"if (msg != null){\n  return msg;   \n}","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["6e76bef5.950b4"]]},{"id":"6e76bef5.950b4","type":"http response","z":"c03a794b.f3de08","name":"","statusCode":"","headers":{},"x":740,"y":420,"wires":[]},{"id":"1a0502bc.833f2d","type":"http in","z":"1429f191.83a44e","name":"","url":"/api/plans","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["5d7c04ac.0a66ac"]]},{"id":"3d4f538f.05b28c","type":"mongodb2 in","z":"1429f191.83a44e","service":"_ext_","configNode":"4e48e3d3.c89b9c","name":"","collection":"study_plans","operation":"","x":440,"y":220,"wires":[["ab467975.3ee008"]]},{"id":"a6fd306b.5ada1","type":"http response","z":"1429f191.83a44e","name":"","statusCode":"","headers":{},"x":700,"y":100,"wires":[]},{"id":"5d7c04ac.0a66ac","type":"function","z":"1429f191.83a44e","name":"prepare request","func":"msg.operation = \"find.toArray\";\nmsg.payload = [{}];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["3d4f538f.05b28c"]]},{"id":"ab467975.3ee008","type":"function","z":"1429f191.83a44e","name":"prepare_response","func":"items = msg.payload;\nmsg.payload = {study_plans: items};  \n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":160,"wires":[["a6fd306b.5ada1"]]},{"id":"4de0006c.57813","type":"function","z":"c03a794b.f3de08","name":"not null","func":"if (msg != null){\n  return msg;   \n}","outputs":1,"noerr":0,"x":100,"y":340,"wires":[["157acc3e.b53ad4"]]},{"id":"8f66fd58.eee08","type":"function","z":"c03a794b.f3de08","name":"not null","func":"if (msg != null){\n  return msg;   \n}","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["9660771b.8ad948"]]},{"id":"406a5595.9e7c0c","type":"function","z":"c03a794b.f3de08","name":"not null","func":"if (msg != null){\n  return msg;   \n}","outputs":1,"noerr":0,"x":540,"y":660,"wires":[["da37fecf.f096e"]]},{"id":"157acc3e.b53ad4","type":"uuid","z":"c03a794b.f3de08","uuidVersion":"v1","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"uuid","fieldType":"msg","x":310,"y":340,"wires":[["fb824d5e.918c1"]]},{"id":"52da956a.2d2ddc","type":"http in","z":"1429f191.83a44e","name":"","url":"/api/teachers","method":"get","upload":false,"swaggerDoc":"","x":140,"y":340,"wires":[["c48618c6.d29d28"]]},{"id":"c48618c6.d29d28","type":"function","z":"1429f191.83a44e","name":"prepare request","func":"msg.operation = \"find.toArray\";\n// msg.payload = [{usertype:\"teacher\"}];\nmsg.payload = [{}];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["59a1819.3cfa28"]]},{"id":"59a1819.3cfa28","type":"mongodb2 in","z":"1429f191.83a44e","service":"_ext_","configNode":"4e48e3d3.c89b9c","name":"","collection":"teachers","operation":"","x":450,"y":400,"wires":[["93e605a0.fde5b8"]]},{"id":"93e605a0.fde5b8","type":"function","z":"1429f191.83a44e","name":"prepare_response","func":"items = msg.payload;\nmsg.payload = {teachers: items};  \n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["efb97f77.2d939"]]},{"id":"efb97f77.2d939","type":"http response","z":"1429f191.83a44e","name":"","statusCode":"","headers":{},"x":720,"y":400,"wires":[]}]